body {
  padding: 10px;
  background: black;
  opacity: 0.6;
  transition: 0.3s;
  color: white;
  font-family: sans-serif;
  font-weight: 200;
}

h3 {
  opacity: 0.6;
  transition: 0.3s;
  color: white;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 22px;
  margin:0;
}

h3:hover {
  opacity: 1.0;
  background: linear-gradient(to right, #ff8a00, #da1b60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button {
  opacity: 0.6;
  transition: 0.3s;
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 200;
  margin-top: 13px;
  margin-right: 10px;
  border-color: white;
}

button:hover {
	opacity: 1.0;
  color:white;
  border-color:white;
  background-image:
    linear-gradient(
       to right, #ff8a00, #da1b60);
}

button:focus {
  outline: none;
}

canvas {
  width: 100% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  opacity: 0.9;
  transition: 0.3s;
  border-color: #ababab;
}

canvas:hover {
  opacity: 1.0;
  border-color: white;
}

/* DROPDOWN */

.dropbtn {
  background-color: inherit;
  color:white;
  border: none;
  cursor: pointer;
}

.dropbtn:hover {
    text-decoration: none;
    color: #888;
}

.dropbtn:focus {
    outline:0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 300px;
}

.dropdown-content a {
  padding: 5px;
  text-decoration: none;
  display: block;
}

.show {
    display:block;
}

h3 a
{
    text-decoration: none;
}

a
{
    color:white;
    z-index:4;
}

a:hover
{
    text-decoration: none;
    color: #888;
}

.show {
    display:block;
    padding-bottom: 50px;
}

.selected
{
    color: #aaa;
}

li {
  font-size: 14px;
  font-color: white;
  list-style-type: none;
  z-index: 3;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
}